<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.1/papaparse.min.js"
      integrity="sha512-EbdJQSugx0nVWrtyK3JdQQ/03mS3Q1UiAhRtErbwl1YL/+e2hZdlIcSURxxh7WXHTzn83sjlh2rysACoJGfb6g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <!-- <form action="/" method="post">
      <button type="submit">Generate Data</button>
    </form> -->

    <form action="/exportdata" method="post">
      <button type="submit">Dowload</button>
    </form>

    <form action="/uploadfile" enctype="multipart/form-data" method="post">
      <input type="file" name="uploadfile" accept="csv" />
      <input type="submit" value="Upload CSV" />
    </form>
  </body>
</html>
